
<app-header></app-header>
<div class="row">

  <div class="text-center" style="width: 100%;margin: 20px;">

  </div>
  <div class="" style="width: 500px; margin: auto">

    <div class="card">
      <!-- When Uses is Not Logged In -->
      <div class="card-body" *ngIf="!userDetails">
        <div class="row">
          <div class="col-sm-12 text-center">
            <div class="btn-group">
              <button type="button" class="btn" [ngClass]="{'btn-primary active': selectedVal == 'login' }"
                      (click)="onValChange('login')"><strong>Login</strong></button>
              <button type="button" class="btn" [ngClass]="{'btn-primary active': selectedVal == 'register' }"
                      (click)="onValChange('register')"><strong>Register</strong></button>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="emailInput"
                 id="email" placeholder="Email">
        </div>
        <div class="form-group" *ngIf="!isForgotPassword">
          <label for="password">Password</label>
          <input type="password" class="form-control"
                 [(ngModel)]="passwordInput" id="password" placeholder="Password">
        </div>
        <div class="form-group" *ngIf="!isForgotPassword">

          <span *ngIf="selectedVal == 'login'; else elseBlock">
            <button type="button" class="btn btn-primary" (click)="loginUser()">Log
              In</button>
          </span>
          <ng-template #elseBlock>
            <button type="button" class="btn btn-primary"
                    (click)="registerUser()">Register
            </button>
          </ng-template>
          &nbsp;
          &nbsp;
          &nbsp;
          <a href="javascript:void(0)" (click)="this.isForgotPassword= true;">Forgot
            Password?</a>

        </div>
        <div class="form-group" *ngIf="isForgotPassword">

          <button type="button" class="btn" (click)="this.isForgotPassword=
            false;">Cancel
          </button>
          <button type="button" class="btn btn-primary"
                  (click)="forgotPassword()">Get email to reset passowrd
          </button>
        </div>
        <div class="form-group text-center">
          <img src="../assets/images/googlebtn.png" alt="" srcset=""
               (click)="googleLogin()" style="cursor: pointer;">
        </div>

      </div>

      <!-- When Uses is Logged In using Email or Google Account -->
      <div class="card-body" *ngIf="userDetails">
        <div class="row">
          <div class="col-sm-12">
            <ul class="list-group">
              <li class="list-group-item">Display Name:
                {{userDetails['displayName']}}</li>
              <li class="list-group-item">Email: {{userDetails['email']}}</li>
              <li class="list-group-item">Is Email Verified:
                {{userDetails['emailVerified']}}</li>
              <li class="list-group-item">
                <button type="button" class="btn btn-danger"
                        (click)="logoutUser()">Logout
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-{{responseMessageType}}" role="alert"
         *ngIf="responseMessage.length">
      {{responseMessage}}
    </div>
  </div>
</div>



<!--<div class="main-div container h-100">-->
<!--  <app-header></app-header>-->
<!--  <div class="row h-100 justify-content-center align-items-center">-->
<!--    <form class="col-12">-->
<!--      <div class="form-group">-->
<!--        <label for="formGroupInput">Email</label>-->
<!--        <input-->
<!--          type="email"-->
<!--          class="form-control"-->
<!--          id="formGroupInput"-->
<!--          placeholder="Enter you email"-->
<!--          [(ngModel)]="email">-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="formGroupInput2">Password</label>-->
<!--        <input-->
<!--          type="password"-->
<!--          class="form-control"-->
<!--          id="formGroupInput2"-->
<!--          placeholder="Enter your password"-->
<!--          [(ngModel)]="password">-->
<!--      </div>-->
<!--    </form>-->
<!--    <div class="row">-->
<!--      <button id="logBtn" class="btn-primary" routerLink="/note-list" routerLinkActive="true" (click)="logBtn()">-->
<!--        Log-in-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
