#note-desc{
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
  text-overflow: ellipsis;
}
#note-desc:hover{
  overflow: visible;
  white-space: normal;
}
#sidebar{
  border-color: darkslateblue;


}
#brand{
  width: 100%;
  height: 100%;
}
