<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

      <ul class="list-group" id="sidebar" style="list-style-type:none;">
        <li class="list-group-item"><img id="brand" src="assets\images\logo.png" routerLink="/note-list"
                                         routerLinkActive="active"></li>
        <li class="list-group-item"><a routerLink="/note-page" routerLinkActive="active">Note with Text Only</a></li>
        <li class="list-group-item"><a href="#">Note with Image</a></li>
        <li class="list-group-item"><a href="#">Archived</a></li>
        <li class="list-group-item"><a routerLink="/log-in" routerLinkActive="active">Logout</a></li>
      </ul>
    </div>
    <form class="col-md-10" [formGroup]="notesService.form" *ngFor="let note of noteOrders.payload.doc.data().noteOrders"
          (ngSubmit)="notesComp.onSubmit()">

      <label for="title" style="font-size: medium">Title</label>
      <input
        type="text"
        id="title"
        class="form-control"
        formControlName="noteTitle"
        [(ngModel)]="title"
        placeholder="{{note.payload.doc.data().noteTitle}}"
      >
      <label for="body" style="font-size: medium">Text</label>
      <textarea id="body" class="form-control" formControlName="noteBody" rows="10" style="resize: vertical" [(ngModel)]="text" >{{ note.payload.doc.data().noteBody}}</textarea>
      <div>
        <button class="waves-effect waves-light btn" style="background-color: lightskyblue"
                (click)="saveBtn()" routerLink="/note-list" routerLinkActive="active">Save
        </button>
        <button class="btn" style="background-color: red" [hidden]="note.payload.doc.data().completed"
                (click)="deleteNote(note)">Delete
        </button>
      </div>

    </form>
    <div class="col-md-1">

    </div>

  </div>
</div>
<div class="row">
  <div class="col-md-1">
  </div>

  <div class="col-md-10">

  </div>

  <div class="col-md-1">
  </div>
</div>
